global
  maxconn 50000
  log stdout format raw local0 info

defaults
  mode tcp
  log global
  option tcplog
  timeout connect 10s
  timeout client  1h
  timeout server  1h
  maxconn 50000

listen postgres_direct
  bind *:5432
  server postgres postgres:5432 check inter 5s

listen postgres_pooler
  bind *:6543
  server pgbouncer pgbouncer:5432 check inter 5s
